
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext);
*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic-ext);
*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800&subset=latin,cyrillic-ext);
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,800,400&subset=latin,cyrillic-ext);



body { margin: 0 auto; 
background-color: #D9DBDD;
/*font-family:'Open Sans', sans-serif;*/
font-family: 'Open Sans', sans-serif;

}
.error1 {

	float: left;
	margin-left: 30px;
}

th,
tr, 
td {

	border: 1px solid black;
}


#left{
	background-color: #2B373B;
	width: 280px;
	float: left;
	display: block;
}

.page {
	background-color: #ffffff; 
	width: 700px;
	/*height: 100%;*/
	
	display: block;

	margin-left: 280px;
}


.content{
	width: 980px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 80px;
}

.line {

	border-top: 1px solid #ffd42d;
	border-top-width: 3px;
	
	width: 70px;
}

.text {

	margin-left: 30px; margin-right: 30px; line-height: 25px; font-weight: 400; color: #828282;
	border-bottom: 1px solid #ededed;
}

.line2 {

	border-top: 1px solid #ffd42d;
	border-top-width: 3px;
	border-top-height: 100px;
	width: 70px;
}

.foto {
	width: 640px;
	height: 360px;

	margin-left: 30px;
	margin-top: 40px;
}

.icons {

	float: left; font-size: 20px; color: #b6b6b6;
	margin: -5px 0 0 30px;
}

#next {
	margin-left: 400px;
	color: #828282;
	float: left;
	margin-top: -50px;
}
	
#str {
	
	float: left;
}
.page h1 {
	margin-left: 30px;
}

#map {
}
#text2 {
	float: left;

	color: #828282;
}
#one {
	display: block;
	float: left;
	color: #828282;
}
#two {
	display: block;
	color: #828282;
}
#three{
	color: #828282;

}

.message {

	font-size: 20px;

}
.list-group-item {
	border: 10px;
}




#bot {
	background-color: #F1F1F1;
	width: 702px;
	height: 68px; 
	display: block;

}



/*input[type="submit"] {
	border: none;	
}*/

.submit-btn {
	height: 30px;
	border: none;
	transition: 0.7s all;
	background-color: #FFD42D;
	  border-radius: 5px;
}

.submit-btn:hover {
	background-color: #0076F9;
}

.submit-btn:active {
	background-color: #0076F9;
}

a {
	display: inline-block;
	width: 280px;
	height: 70px;
	text-align: right;
	text-decoration: none;
}




.menu {
	width: 280px; 
	height: 70px; 
	border-bottom: 1px solid rgb(33, 43, 46);
	text-align: left;
}

.paddingFA {
	padding: 1.5em;
}

.activeNavbar, a:hover{
	background-color: rgb(255, 212, 25);
	color: rgb(44, 56, 60) !important;
	border-bottom: 1px solid rgb(204, 169, 36);
}

.footer {
	background-color: rgb(241, 241, 241);
	height: 65px;
	
}

.navfooter{
	padding: 0;
}

ul.navfooter > li{
	display: inline;
	padding: 1.3em;
}

.footerFA{
	font-size: 1.5em;
	padding: 0 0.3em;
	color: rgb(43, 55, 59);
}

.footerFA:hover{
	color:black;
}


