<h1><?php echo h($post['Post']['title']); ?></h1>

<p><small>Created: <?php echo $post['Post']['created']; ?></small></p>

<p><?php echo h($post['Post']['body']); ?></p>


<div style="border: 3px solid red">
<?php
foreach($comments as $comment):
echo ''.$comment['Comment']['comment'].'
';
endforeach;
?>
</div>
