
 

	<img src="<?php echo Router::fullbaseUrl(); ?>/images/foto.png" style="margin-left: 30px">

<p style="margin-left: 30px; line-height: 29px; font-weight: 100">
	<font color="#2c383c" size="5">
		<span style="color: #000000; font-weight: 700">Standart Post with Image</span>
	</font>
</p>

			
<p class="icons">
	<i class="fa fa-calendar-o"></i>
	<font size="2" style="padding-left: 7px"> 30 march</font>
</p>
<p class="icons">
	<i class="fa fa-user"></i>
	<font size="2" style="padding-left: 7px"> Admin</font>
</p>
<p class="icons">
	<i class="fa fa-comments"></i>
	<font size="2" style="padding-left: 7px"> 2 comments</font>
</p>
