<h2>Send us a message</h2>
<div class="form">
	<?php echo $this->Form->create('Contact'); ?>
		<?php 
			echo $this->Form->input('name');
			echo $this->Form->input('email');
			echo $this->Form->input('website');
			echo $this->Form->input('message', array('rows' => '6'));
		?>
	<?php echo $this->Form->end('Submit'); ?>


</div>




<?php
/*echo $this->Form->create('Contact');
echo $this->Form->input('name');
echo $this->Form->input('body', array('rows' => '3'));
echo $this->Form->end('Save Post');*/
?>