<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>

<body>			


	<div class="text">

			<p>I have ten years experience as a web/interface designer. I have a love of clean, ele-<br>gant styling, and I have lots of experience in the production of CSS and (X)HTML for modern websites. I have a reasonable grasp of using JavaScript frameworks, specifi-<br>cally jQuery.</p>
				</div>	
			<p style="margin-left: 30px; font-weight: 100"><font color="#2c383c" size="5">Personal Info</font></p>
			<div class="lane2"></div>
			<div class="info">
				<ul>
					<li>name</li>
					<li>e-mail</li>
					<li>phone</li>
				</ul>	
			</div>	
</body>

</html>