<h1>Blog posts</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Created</th>
    </tr>

    <!-- Here is where we loop through our $posts array, printing out post info -->

    <?php foreach ($contacts as $contact): ?>
    <tr>
        <td><?php echo $contact['Contact']['id']; ?></td>
        <td>
            <?php echo $this->Html->link($contact['Contact']['name'],
array('controller' => 'contacts', 'action' => 'view', $contact['Contact']['id'])); ?>
        </td>
        <td><?php echo $contact['Contact']['email']; ?></td>
    </tr>
    <?php endforeach; ?>
    <?php unset($contact); ?>
</table>